{% extends '::base.html.twig' %}

{% block title %}Terapie {{ type }} | {{ parent() }}{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Acasă</a></li>
        <li><a href="{{ path('therapy') }}">Terapie</a></li>
        <li class="active">{{  type }}</li>
    </ol>

    {% include("@DamOSansa/Therapy/therapy_" ~ (type | lower | replace({' ' : '_'})) ~ ".html.twig") %}

    <div class="text-center">
        <a href="{{ path('therapy') }}" class="btn btn-primary btn-lg">&laquo; Înapoi la lista de terapii</a>
    </div>
{% endblock %}