{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head_style %}
    {{ parent() }}

    <link href="{{ asset("bundles/mopabootstrap/bootstrap/dist/css/bootstrap.css") }}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{ asset("bundles/mopabootstrap/bootstrap/dist/css/bootstrap.min.css") }}" type="text/css" rel="stylesheet" media="screen" />

    {% stylesheets
        '@DamOSansaBundle/Resources/public/css/application.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}
{% block title %}{{ pageTitle }} | Asociația Dăm o Șansă Viitorului{% endblock %}

{% block body %}
    {% include '@DamOSansa/Content/header.html.twig' %}
    {% include '@DamOSansa/Content/_navigator.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 page-content">{% block content %}{% endblock %}</div>
            <div class="col-md-3 col-md-push-1 sidebar" role="navigation">{% include '@DamOSansa/Content/sidebar.html.twig' %}</div>
        </div>
    </div>

    {% include '@DamOSansa/Content/footer.html.twig' %}
{% endblock %}