{% extends '::base.html.twig' %}

{% block title %}{{ type|title }} | {{ parent() }}{% endblock %}


{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Acasă</a></li>
        <li><a href="{{ path('dissability') }}">Dizabilități</a></li>
        <li class="active">{{  type }}</li>
    </ol>

    {% include("@DamOSansa/Dissability/dissability_" ~ (type | lower | replace({' ' : '_'})) ~ ".html.twig") %}

    <div class="text-center">
        <a href="{{ path('dissability') }}" class="btn btn-primary btn-lg">&laquo; Înapoi la lista de dizabilități</a>
    </div>

{% endblock %}