{% extends '::base.html.twig' %}

{% block title %}Dizabilități | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Tipuri de dizabilități</h1>

    <img class="img-responsive img-thumbnail" src="{{ asset('bundles/damosansa/images/dissability-image.jpg') }}">

    <h2><a href="{{ path('dissability', {'type' : 'tulburari-pervazive-de-dezvoltare'}) }}">Tulburări pervazive de dezvoltare</a></h2>
    <h3 class="text-muted">Autism, sindromul Asperger, Sindromul Rett, Tulburarea dezintegrativă a copilăriei</h3>

    <p>Tulburările pervazive de dezvoltare au origine bio-chimică sau sunt asociate cu probleme genetice. Conceptul de tulburare pervazivă cuprinde definiția unei combinații de dificultăți de dezvoltare a comunicării, inteligenței sociale și a imaginației - ceea ce înseamnă că mesajele transmise la creier sunt prost receptate și interpretate, existând o ruptură între senzație și percepție. Această gamă de dizabilități încadrează: Tulburarea de tip autist, Sindromul Asperger, Tulburarea Dezintegrativa a Copilariei, Sindromul Rett, Tulburarea Globala (Pervaziva) de Dezvoltare – inclusiv autismul atipic.</p>

    <div class="text-center">
        <a href="{{ path('dissability', {'type' : 'tulburari-pervazive-de-dezvoltare'}) }}" class="btn btn-info btn-lg">Citește despre Tulburări pervazive de dezvoltare</a>
    </div>

    <hr>

    <h2><a href="{{ path('dissability', {'type' : 'tulburari-de-limbaj'}) }}">Tulburări de limbaj</a></h2>

    <p>Clasificarea tulburărilor de limbaj:</p>

    <ul>
        <li>Tulburări de pronunție: dislalie, rinolalie, dizartrie;</li>
        <li>Tulburări de ritm și fluență a vorbirii: bâlbâiala, tahilalia, bradilalia, logonevroza;</li>
        <li>Tulburări de voce: afonia, disfonia, fonastenia;</li>
        <li>Tulburări ale limbajului citit-scris: dislexia, alexia, disgrafia, agrafia;</li>
        <li>Tulburări polimorfe: afazia, alalia;</li>
        <li>Tulburări de dezvoltare a limbajului: mutism patogen, electiv, voluntar, întârzierea în dezvoltarea generală a vorbirii;</li>
        <li>Tulburări ale limbajului bazate pe disfuncții psihice: dislogii, ecolalii, jargonofazii, bradifazii.</li>
    </ul>


    <div class="text-center">
        <a href="{{ path('dissability', {'type' : 'tulburari-de-limbaj'}) }}" class="btn btn-info btn-lg">Citește despre Tulburări de limbaj</a>
    </div>

    <hr>

    <h2><a href="{{ path('dissability', {'type' : 'deficiente-de-intelect'}) }}">Deficiente de intelect</a></h2>

    <p>Deficiența de intelect poate fi definită prin carențe ale capacităților psihice cognitive, mnezice, adaptative, de comunicare. Această reducere a mecanismelor de adaptare ale individului poate conduce la o incapacitate de a face față cerințelor mediului înconjurător, aflat în permanentă schimbare și o situare a persoanei într-o situație dificilă în care are nevoie de ajutor pentru dezvoltarea competențelor personale, sociale și profesionale și de asemenea pentru structurarea, organizarea și dezvoltarea intelectuală, afectivă, psihomotorie și adaptativ-comportamentală.</p>

    <div class="text-center">
        <a href="{{ path('dissability', {'type' : 'deficiente-de-intelect'}) }}" class="btn btn-info btn-lg">Citește despre Deficiente de intelect</a>
    </div>

    <hr>

    <h2><a href="{{ path('dissability', {'type' : 'sindromul-down'}) }}">Sindromul Down</a></h2>

    <p>Sindromul  Down este o boală genetică ce presupune o modificare la nivel cromozomial care se manifestă prin:</p>

    <ul>
        <li>Tonus muscular scăzut</li>
        <li>Aspect fizic specific: cap mic, rotund, aplatizat; dinți implantați neregulat, inegali; gât scurt, torace lărgit, mâini mici, degete scurte și divergente; picioare scurte, plate</li>
        <li>Ferecvente malformații congenitale precum cele cardiace, disfuncții alimentare</li>
        <li>Diverse grade de deficiență mintală</li>
        <li>Dezvoltare psihomotorie întârziată</li>
        <li>Atenție labilă</li>
        <li>Memoria preponderent mecanică</li>
        <li>Dezvoltarea limbajului întârziată</li>
    </ul>

    <div class="text-center">
        <a href="{{ path('dissability', {'type' : 'sindromul-down'}) }}" class="btn btn-info btn-lg">Citește despre Sindromul Down</a>
    </div>

    <hr>

    <h2><a href="{{ path('dissability', {'type' : 'tulburari-de-comportament'}) }}">Tulburările de comportament</a></h2>

    <p>Tulburările de comportament sunt în general definite ca fiind abateri de la normele pe care le promovează o anumită societate. Comportamentul inadecvat poate apărea la toate vârstele și poate avea o varietate de cauze în funcție de tipul de personalitate, de educație, ereditate și de mediul în care a crescut individul. De asemenea pot fi și determinanți de natură organică ai unui comportament deviant.</p>

    <div class="text-center">
        <a href="{{ path('dissability', {'type' : 'tulburari-de-comportament'}) }}" class="btn btn-info btn-lg">Citește despre Tulburările de comportament</a>
    </div>

    <hr>

{% endblock %}