{% extends '::base.html.twig' %}

{% block title %}Dizabilități | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Tipuri de dizabilități</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam asperiores ipsa ipsam maiores nam nesciunt odit praesentium quod repellat, similique veniam? Atque cupiditate iure, provident quaerat unde veniam voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae illum velit? Consequuntur ducimus et fugit, hic provident ratione temporibus vel. Distinctio esse eveniet minima nulla perferendis porro repellendus, rerum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae illum velit? Consequuntur ducimus et fugit, hic provident ratione temporibus vel. Distinctio esse eveniet minima nulla perferendis porro repellendus, rerum?</p>

    <hr>

    <img class="img-responsive img-thumbnail" src="http://placehold.it/960x441">

    <h2><a href="{{ path('dissability', {'type' : 'exemplu-1'}) }}">Dizabilitate Exemplu 1</a></h2>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at vestibulum elit. Duis convallis mi ullamcorper, luctus neque et, porta nulla. Sed turpis neque, fermentum in accumsan mattis, imperdiet sed nisi. Sed molestie sit amet nisl eget varius. Aenean aliquam nisi id ante interdum, id convallis nulla posuere. Curabitur pretium nisl id lacus pretium auctor. Suspendisse a dolor tellus.</p>
    <p>Aenean lobortis ut augue non congue. Quisque lobortis vulputate enim, sed tincidunt diam facilisis vel. Phasellus et quam ultrices, iaculis felis quis, consectetur sem. Sed tempor et ligula non tristique. Nullam varius mi ipsum, eget venenatis tellus auctor viverra. Donec et vestibulum risus, sit amet dapibus nulla. Ut ut justo et quam tristique fringilla. Nam id lacus dapibus, porttitor arcu non, venenatis lacus. Nunc ut ante rutrum, egestas metus sit amet, ullamcorper lorem. In justo justo, aliquam malesuada mauris non, rhoncus commodo justo. Duis sit amet felis ipsum. Integer purus magna, interdum rhoncus adipiscing at, varius sit amet tortor. Sed et mollis lorem. Vivamus a blandit risus. Morbi vestibulum consectetur augue vitae pharetra.</p>

    <a href="{{ path('dissability', {'type' : 'exemplu-1'}) }}" class="btn btn-info">Citește mai multe despre Exemplu 1 &raquo;</a>

    <hr>

    <h2><a href="{{ path('dissability', {'type' : 'exemplu-1'}) }}">Dizabilitate Exemplu 1</a></h2>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at vestibulum elit. Duis convallis mi ullamcorper, luctus neque et, porta nulla. Sed turpis neque, fermentum in accumsan mattis, imperdiet sed nisi. Sed molestie sit amet nisl eget varius. Aenean aliquam nisi id ante interdum, id convallis nulla posuere. Curabitur pretium nisl id lacus pretium auctor. Suspendisse a dolor tellus.</p>
    <p>Aenean lobortis ut augue non congue. Quisque lobortis vulputate enim, sed tincidunt diam facilisis vel. Phasellus et quam ultrices, iaculis felis quis, consectetur sem. Sed tempor et ligula non tristique. Nullam varius mi ipsum, eget venenatis tellus auctor viverra. Donec et vestibulum risus, sit amet dapibus nulla. Ut ut justo et quam tristique fringilla. Nam id lacus dapibus, porttitor arcu non, venenatis lacus. Nunc ut ante rutrum, egestas metus sit amet, ullamcorper lorem. In justo justo, aliquam malesuada mauris non, rhoncus commodo justo. Duis sit amet felis ipsum. Integer purus magna, interdum rhoncus adipiscing at, varius sit amet tortor. Sed et mollis lorem. Vivamus a blandit risus. Morbi vestibulum consectetur augue vitae pharetra.</p>

    <a href="{{ path('dissability', {'type' : 'exemplu-1'}) }}" class="btn btn-info">Citește mai multe despre Exemplu 1 &raquo;</a>

    <hr>

    <h2><a href="{{ path('dissability', {'type' : 'exemplu-1'}) }}">Dizabilitate Exemplu 1</a></h2>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at vestibulum elit. Duis convallis mi ullamcorper, luctus neque et, porta nulla. Sed turpis neque, fermentum in accumsan mattis, imperdiet sed nisi. Sed molestie sit amet nisl eget varius. Aenean aliquam nisi id ante interdum, id convallis nulla posuere. Curabitur pretium nisl id lacus pretium auctor. Suspendisse a dolor tellus.</p>
    <p>Aenean lobortis ut augue non congue. Quisque lobortis vulputate enim, sed tincidunt diam facilisis vel. Phasellus et quam ultrices, iaculis felis quis, consectetur sem. Sed tempor et ligula non tristique. Nullam varius mi ipsum, eget venenatis tellus auctor viverra. Donec et vestibulum risus, sit amet dapibus nulla. Ut ut justo et quam tristique fringilla. Nam id lacus dapibus, porttitor arcu non, venenatis lacus. Nunc ut ante rutrum, egestas metus sit amet, ullamcorper lorem. In justo justo, aliquam malesuada mauris non, rhoncus commodo justo. Duis sit amet felis ipsum. Integer purus magna, interdum rhoncus adipiscing at, varius sit amet tortor. Sed et mollis lorem. Vivamus a blandit risus. Morbi vestibulum consectetur augue vitae pharetra.</p>

    <a href="{{ path('dissability', {'type' : 'exemplu-1'}) }}" class="btn btn-info">Citește mai multe despre Exemplu 1 &raquo;</a>
{% endblock %}