{% extends '::base.html.twig' %}

{% block title %}Acasă | {{ parent() }}{% endblock %}

{% block content %}
    <div class="homepage-image">
        {#http://pixabay.com/en/banik-joints-boy-child-baby-187696/#}
        <img class="img-responsive img-thumbnail" src="{{ asset('bundles/damosansa/images/homepage-image.jpg') }}">
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1><strong><span class="text-info">Împreună,</span> <span class="text-success">dăm o șansă viitorului!</span></strong></h1>
        <p><a class="btn btn-lg btn-success" href="{{ path('therapy') }}" role="button">Află cum putem ajuta!</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row text-center">
        <div class="col-lg-6 subtitle">
            <img class="img-responsive img-thumbnail" src="{{ asset('bundles/damosansa/images/intervention-image.jpg') }}"">
            <h2>Plan de intervenție</h2>
            <p>Există diferențe semnificative între copiii cu orice tip de deficiență, la fel ca și în cazul celor tipici, este nevoie de un plan de intervenție personalizat care să țină cont de necesitățile copiilor, vârsta lor cronologică și mintală, dar și de cerințele părinților. Așadar ne propunem realizarea unei evaluări de calitate pe baza căreia să fie construit programul de lucru.</p>
        </div>
        <div class="col-lg-6 subtitle">
            <img class="img-responsive img-thumbnail" src="{{ asset('bundles/damosansa/images/community-image.png') }}">
            <h2>Intervenție 1 la 1 și de grup</h2>
            <p>Pentru a crește șansele de reușită a tratamentului noi ne propunem să colaborăm în permanență cu familia copilului, iar pe plan terapeutic să utilizăm combinat o serie de tehnici preluate din mai multe tipuri de intervenții recomandate pentru copiii cu probleme de dezvoltare. În condiții optime de tratament copiii pot să câștige și să mențină o funcționare adaptativă. </p>
        </div>
    </div>
{% endblock %}