{% block sidebar %}
<div class="sidebar-item">
    <a href="{{ asset('bundles/damosansa/files/Formular230-2013.doc') }}"><img class="img-responsive" src="{{ asset('bundles/damosansa/images/campanie-2-la-suta.png') }}"></a>
</div>

<div class="sidebar-item">
    <h4>Terapie</h4>

    <a href="{{ path('therapy', {'type': 'aba'}) }}">ABA</a>
    <a href="{{ path('therapy', {'type': 'teacch'}) }}">TEACCH</a>
    <a href="{{ path('therapy', {'type': 'give-me-five'}) }}">GIVE ME FIVE</a>
    <a href="{{ path('therapy', {'type': 'pecs'}) }}">PECS</a>
    <a href="{{ path('therapy', {'type': 'logopedie'}) }}">LOGOPEDIE</a>
    <a href="{{ path('therapy', {'type': 'terapie-de-grup'}) }}">TERAPIE DE GRUP</a>
</div>

<div class="sidebar-item">
    <h4>Dizabilități</h4>

    <a href="{{ path('dissability', {'type': 'tulburari-pervazive-de-dezvoltare'}) }}">TULBURĂRI PERVAZIVE DE DEZVOLTARE</a>
    <a href="{{ path('dissability', {'type': 'tulburari-de-limbaj'}) }}">TULBURĂRI DE LIMBAJ</a>
    <a href="{{ path('dissability', {'type': 'deficiente-de-intelect'}) }}">DEFICIENȚE DE INTELECT</a>
    <a href="{{ path('dissability', {'type': 'sindromul-down'}) }}">SINDROMUL DOWN</a>
    <a href="{{ path('dissability', {'type': 'tulburari-de-comportament'}) }}">TULBURĂRI DE COMPORTAMENT</a>
</div>

<div class="sidebar-item">
    <h4>Contact</h4>

    <address><strong>
        Strada Galata, nr. 46, <br>
        Sc. 1, Ap. U11,<br />
        Voluntari,<br>
        Ilfov,<br>
        România
    </strong></address>

    <strong>Telefon: </strong><br />

    <em>0762811376</em><br />
    <em>0732238653</em><br />
    <em>0740216762</em><br />

    <br />

    <strong>Email: </strong><br />

    info.adsv@gmail.com<br>
    <br />
</div>
{% endblock %}